body {
  background-color: black !important; 
}


.container {
  background-color: black; 
  color: white;
  /* margin-top: 30px; */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(234, 230, 230, 0.1);
}

.form-check-input[type="checkbox"] {
  border-radius: 50%; 
  border-color: black !important; 
  background-color: #e9e506 !important;
  color: black !important;
}


.form-range::-webkit-slider-thumb {
  background-color: #e9e506 !important;
}

#passwordStrength {
  background-color: #cce5ff;
  color: black;
  font-style: italic;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.btn {
  background-color: #e9e506 !important; 
  border-color: black !important; 
  color: black !important;
}

.btn:hover {
  background-color: rgb(255, 255, 0) !important; 
  border-color: black;
}

.form-control {
  border-color: #ced4da; 
}

.form-label {
  color: #495057;
}

.form-check-label {
  color: #495057;
}
